.title{
    text-align: center;
    font-family: arial, sans-serif;
    width: 40%;
}

.tables{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid ;
    width: 40%;
}
.tables th {
    border: 1px solid ;
    padding: 8px;
}
.tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;
}
.tables td{
    border: 1px solid ;
    padding: 8px;
}